@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title {
        width: fit-content;
        @apply mb-5 text-xl md:text-2xl lg:text-4xl lg:mx-auto mr-4 text-darkblue dark:text-semiPink relative;
    }

    .title1 {
        width: fit-content;
        @apply text-xl md:text-2xl lg:text-4xl lg:mx-auto mr-4 text-darkblue relative;
    }

    /*  services-box */
    .services-box {
        @apply w-[30%] p-2 m-2 duration-500 rounded-xl rounded-bl-[45px] shadow-shadow-Categories-box 
            hover:scale-105 hover:shadow-shadow-Services-box hover:cursor-pointer lg:p-8 lg:m-10 hover:bg-[#FFFFFF1A] 
            lg:hover:shadow-shadow-Services-box1 lg:hover:rounded-[36px] md:p-4 md:m-4 md:rounded-none 
            md:shadow-shadow-none md:hover:bg-[#FFFFFF1A] md:hover:shadow-shadow-Services-box2 md:hover:rounded-[15px];
    }

    .services-box img {
        @apply lg:pb-4 md:pb-2 md:w-8 lg:w-16 my-3 mx-auto lg:m-0 md:m-0;
    }

    .services-title {
        @apply lg:text-2xl md:text-sm pb-2.5 text-lightblue md:text-darkblue dark:md:text-lightblue text-center md:text-right;
    }

    .botton-border {
        @apply w-[50px] border-b-4 border-[#3F40EA] hidden md:block;
    }

    .services-info {
        @apply pt-4 lg:text-lg md:text-xs text-right text-lightblue4 dark:text-[#b3b1c2] hidden md:block;
    }

   /* Course Education */
   .course-box {
        @apply overflow-hidden duration-500 w-[336px] lg:w-[24%] mx-auto bg-[#F9F6FF] dark:bg-darkblue6 rounded-[20px] shadow-shadow-Course-box m-2;
    }
    .course-box:hover {
        box-shadow: 0px 0px 15px 0px #6D20FF4D;
        @apply translate-x-0;

        .course-name {
            @apply text-newPurpule5 dark:text-semiPink;
        }

        .prof-name {
            @apply text-[#4E2DCC] dark:text-[#9996F9]  cursor-pointer;
        }

        .hover-box {
            @apply block duration-500 left-0 cursor-pointer;
        }
    }
    .hover-box {
        @apply top-3 float-left h-[44px] w-[110px] absolute mb-[-50px] left-[-50%] 
             bg-[#6736FF] dark:bg-[#261A97] dark:shadow-shadow-auth rounded-r-[10px]; 
    }
    .course-name{
        @apply text-darkBlue5 dark:text-[#6974FF] opacity-90 text-2xl pb-3 ;
    }
    .hover-box-img:hover {
        @apply opacity-100;
    }

    .hover-box-img {
        @apply my-3 mx-2 opacity-60;
    }
    .course-svg{
        @apply inline w-4 h-6 text-gray dark:text-[#9996F9];
    }
    .course-info{
        @apply inline text-grayBlue text-xs pr-1 dark:text-[#9996F9];
    }
    .course-like-box{
        @apply  inline px-2 py-1 bg-semiWhite2 dark:bg-[#6974FF] rounded-md;
    }
    .course-like-count{
        @apply inline text-base text-darkblue2 pr-2 dark:text-darkBlue5;
    }
    .prof-name {
        @apply text-lightblue4 dark:text-[#848DFF];
    }

    .course-details {
        @apply text-[#6635FF] text-base text-left border-t-2 border-[#00018533] py-4;
    }

    .course-details:hover {
        @apply text-darkblue;
    }

    /* categories-box */
    .categories-box {
        transition: box-shadow 0.5s ease-out;
        @apply w-48 md:w-[160px] lg:w-[22%] h-52 m-5 md:m-3 text-center bg-gradient-to-tr from-[#6B3FEA] dark:from-[#574199] 
            from-[0%] to-[#7070FF] to-[189%] rounded-xl rounded-bl-[45px] transition-all shadow-shadow-Categories-box;
    }

    .categories-img {
        @apply mx-auto mt-11 mb-3;
    }

    .categories-box:hover {
        box-shadow: 0px 5px 30px 0px #6D50F14D;
        background: #EBE0FF;
        color: #6D53F2;
        cursor: pointer;
        @apply dark:bg-darkblue2;
        .categories-img {
            filter: brightness(0) saturate(100%) invert(39%) sepia(80%) saturate(2693%) hue-rotate(231deg) brightness(90%) contrast(112%);
        }
    }  

    /* news details */
    .news-details{
        box-shadow: 0px 0px 30px 0px #B48DFF4D;
        @apply max-w-[460px] md:max-w-[740px] lg:max-w-[1260px] mx-auto p-8 md:p-12 lg:p-16 
                rounded-xl bg-newWhite dark:bg-darkblue6;
    }
    .news-details-text{
        @apply text-base md:text-xl text-darkblue3 dark:text-[#75749b] text-justify 
            leading-10 md:leading-[50px] lg:leading-[50px] tracking-normal ; 
    }
    .media-icons{
        @apply  w-6 h-6 md:w-8 md:h-8 m-1.5 md:m-2.5;
    }
    .media-icons-border{
        box-shadow: 0px 0px 5px 0px #12124266;
        @apply w-10 h-10 md:w-14 md:h-14 rounded-full border-2 border-[#12124266] dark:border-[#3d3d70] mx-2;
    }
    .media-icons-border:hover{
        box-shadow: 0px 0px 5px 0px #3F40EA;
        cursor: pointer;
        .media-icons{
            @apply fill-[#3F40EA];
        }
    }

    /* news details --> User Comments*/
    .userComment{
        @apply flex flex-col md:flex-row py-6;
    }
    .userComment-pic{
        @apply w-[76px] h-[76px] rounded-full shadow-shadow-userComments-pic mb-2 lg:mb-0;
    }
    
    .adminComment{
        @apply py-6 w-[395px] md:w-[520px] lg:w-[992px] mr-[-30px] md:mr-[75px]
                md:mt-[-50px] mb-6 pr-2 bg-[#D0CDFF80] dark:bg-darkblue3 border-r-4 border-r-lightblue;
    }
    .comment-input{
        @apply w-[400px] h-40 md:w-[650px] lg:w-[1099px] lg:h-52 lg:mr-4 mt-2 p-4 text-base text-darkblue2 dark:text-[#7e7cb1]
                border-2 border-lightblue4 dark:border-[#3d3d70] rounded-xl bg-newWhite dark:bg-darkblue6;
    }
    .comment-input:focus{
        @apply outline-none border-2 border-lightblue;
    }
}