@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: B-Yekan;
    src: url("./assets/fonts/Yekan.ttf");
  }
}

@layer components {

  /* primary */
  .primary-btn {
    transition: 0.55s all;
    @apply bg-gradient-to-tr from-[#732AFF] from-[3.5%] to-[#4136C9] to-[76%] hover:from-[#AA54FF] hover:from-[11%] hover:via-[#6514FF] hover:via-[51%] hover:to-[#4445F2] hover:to-[111%];
  }

  /* Header Style */
  .header {
    @apply lg:fixed bg-lightPink dark:bg-darkblue2 shadow-shadow-auth absolute w-full mx-auto overflow-hidden;
  }

  .logo-bg {
    @apply absolute md:block hidden right-[-20px] top-[-55px] max-h-[232px] dark:hidden;
  }

  .logo {
    @apply lg:mr-[94px] md:w-[145px] md:mr-[40px] w-[55px] mt-[-10px];
  }

  .openMenu-span {
    transition: 0.3s;
    @apply h-1 rounded bg-[#3E32C7] inline-block relative;
  }

  #openMenu:checked+.header-buttons .openMenu .openMenu-span:nth-child(1) {
    rotate: 45deg;
    width: 100%;
    top: 10px;
    background-color: #12124280;
    @apply dark:bg-[#ffffff80];
  }

  #openMenu:checked+.header-buttons .openMenu .openMenu-span:nth-child(2) {
    display: none;
  }

  #openMenu:checked+.header-buttons .openMenu .openMenu-span:nth-child(3) {
    rotate: -45deg;
    width: 100%;
    background-color: #12124280;
    @apply dark:bg-[#ffffff80];
  }

  .ThemeSwitcher1 {
    display: none !important;
    @apply scale-110;
  }

  @media (min-width: 1024px) {
    .ThemeSwitcher1 {
      display: inline-block !important;
    }
  }

  #openMenu:checked+.header-buttons .openMenu {
    background-color: #1212421a;
    @apply rounded-lg left-[70%] dark:bg-darkblue;
  }

  #openMenu:checked~.mobile-menu-holder .mobile-menu {
    box-shadow: 0 0 1500px 1000px #0005;
    @apply w-8/12 p-8;
  }

  /* 
  .openMenu {
    transition: 0.6s;
    @apply flex lg:hidden absolute left-0 top-0 h-8 bg-lightPink w-8 flex-col items-end overflow-hidden  ;
  } */
  .openMenu {
    transition: 0.6s;
    @apply w-14 h-12 text-left leading-3 block lg:hidden mr-7 cursor-pointer py-1 z-30 relative left-0 scale-75;
  }

  /* menu styles */
  .menu-item {
    @apply cursor-pointer;
  }

  .underline-menu {
    transition: 0.15s ease-in;
    @apply group-hover:w-11/12 w-0 block h-2 my-1 bg-gradient-to-l from-newPurpleAlpha2 to-transparentPurple2;
  }

  /* Mobile Menu */
  .mobile-menu {
    transition: 0.2s;
    @apply flex lg:hidden absolute left-0 top-0 h-[100vh] bg-lightPink w-0 flex-col items-end overflow-hidden dark:bg-darkblue2;
  }

  /* Hero Section */
  .hero-section-image-side {
    @apply sm:w-5/12 w-full text-left sm:relative absolute top-0;
  }

  .hero-section-image {
    @apply relative lg:w-[523px] sm:w-[340px] block sm:hidden;
  }

  .hero-gradient {
    @apply bg-gradient-to-b sm:from-[transparent] from-[#240070] from-[3%] via-[#17004aa0] via-[40%] sm:to-[transparent] to-transparentPurple to-[100%] z-[5] h-full;
  }

  /* Footer */
  .footer-btn {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @apply absolute top-[3px] w-[90px] h-[45px] scale-[.9] right-2;
  }

  /* Authorize Pages Style */
  .auth-title {
    color: white;
    @apply text-4xl text-center lg:mt-0 mt-[-80px] mb-5 lg:text-lightblue font-bold;
  }

  .auth-image-side {
    color: white;
    @apply lg:bg-gradient-to-l bg-gradient-to-t from-newPurpleAlpha from-[0.8%] via-newPurpleAlpha via-[0.9%] to-transparentPurple to-[150%] flex items-center justify-center lg:rounded-r-[150px] lg:rounded-br-[150px] lg:rounded-bl-[0] rounded-b-[150px] lg:p-4 pb-32 w-full lg:w-7/12 lg:h-[100vh];
  }

  .form-section-auth {
    @apply w-[380px] lg:bg-[#fff] min-h-[350px] max-h-[530px] relative rounded-xl py-5 font-[B-Yekan] lg:top-[14%] lg:left-[-190px] left-0 top-0 lg:shadow-shadow-auth shadow-shadow-transparent flex flex-col justify-center;
  }

  .field-input {
    @apply text-right w-full py-1 px-2 pr-7 h-full rounded-md border-b-2 bg-[#F6F7FC] absolute top-0 left-0 focus-visible:outline-4 focus-visible:border-2 focus-visible:outline focus-visible:outline-[#3F40EA66];
  }

  .field-input2 {
    @apply text-right w-full mt-2 mb-2 px-2 pt-3 h-full rounded-md border-b-2 bg-semiPink absolute top-0 left-0 focus-visible:outline-4 focus-visible:border-2 focus-visible:outline focus-visible:outline-[#3F40EA66];
  }

  .primary-button {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    @apply cursor-pointer text-[#fff] bg-gradient-to-br from-[#AA54FF] from-[11%] via-[#6514FF] via-[51%] to-[#4445F2] to-[111%] rounded-lg hover:bg-lightblue my-3;
  }

  .auth-form {
    @apply text-lightblue text-right px-12 flex-col items-center flex;
  }

  .teacher-card {
    @apply w-96 hover:scale-110 transition-all cursor-pointer md:w-56 lg:w-80 overflow-hidden relative rounded-xl;
  }

  .teachers-text {
    @apply cursor-pointer absolute bottom-[-55px] bg-gradient-to-t from-darkblue left-0 right-0 md:py-0 lg:py-2 pb-4 pt-16 px-4 text-[#fff] duration-500 group-hover:bottom-0 bg-opacity-30 rounded-b-xl;
  }

  .icons-contact {
    @apply mx-4 my-2 md:my-2 opacity-90 hover:opacity-100 md:mx-3 md:text-sm lg:text-base lg:mx-4 lg:my-2;
  }

  .contact-teachers {
    @apply w-12 h-28 md:w-8 md:h-24 lg:w-12 lg:h-28 bg-lightPurple top-[-200px] rounded-b-xl md:rounded-b-lg absolute left-2 group-hover:top-0 duration-300 ease-in;
  }

  .suggestions-box {
    @apply flex w-[460px] md:w-[560px] relative self-center bg-semiWhite lg:w-[600px] min-h-[400px] max-h-[530px] py-8 mt-16 lg:flex rounded-lg lg:shadow-shadow-auth shadow-shadow-transparent flex-col dark:bg-[#2B157E];
  }

  .news-wrapper {
    @apply w-[500px] md:w-[100%] md:h-[540px] lg:h-[360px] mt-8 flex relative mx-auto md:mt-20 lg:mt-10 px-20 h-[550px] lg:gap-10 md:gap-10 md:my-0 items-center justify-center flex-col gap-10 md:flex-col lg:flex-row;
  }

  .news-image {
    @apply md:w-[220px] md:h-[186px] h-[155px] w-[180px] absolute shadow-shadow-auth my-5 mx-5 md:my-6 lg:mx-6 rounded-2xl bg-center object-cover;
  }

  .contact-teachers1 {
    @apply w-12 h-28 bg-[#793bed] top-[2px] rounded-b-xl md:rounded-b-lg lg:rounded-b-xl left-2 md:left-4 lg:left-2 duration-300 group-hover:top-0 ease-in md:w-10 md:h-24 lg:w-12 lg:h-28;
  }

  .teacher-photo {
    @apply bg-purple2 shadow-shadow-Categories-box rounded-full absolute w-40 h-40 mr-[90px] lg:w-40 lg:h-40 md:w-28 md:h-28 md:mt-8 items-center mt-6 lg:mt-6;
  }

  .gradient {

    @apply bg-gradient-to-tl from-[#3F40EA] from-[3.5%] to-[#6D20FF] to-[70%] hover:from-[#AA54FF] hover:from-[11%] hover:via-[#6514FF] hover:via-[51%] hover:to-[#4445F2] hover:to-[111%];
  }

  /* showModal */
  #showLoginModal:checked + .loginModal{
    display: flex;
  }
  /* .teacher-photo{
    @apply bg-purple2 shadow-shadow-Categories-box rounded-full absolute w-40 h-40 mr-[90px] lg:w-40 lg:h-40  md:w-28 md:h-28  md:mt-8  items-center mt-6 lg:mt-6  ;
>>>>>>> a689b0c80c9ef8b68af95cfe54db3aab74654148
  } */
}

:root {
  font-family: B-Yekan;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.react-switch-bg {
  box-shadow: 2px 1px 4px 0px rgba(63, 64, 234, 0.2) inset;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}